body {
    background-color: purple;
    font-family: cursive;
}

h1 {
    color: lime;
}

p {
    color: deeppink;
}

li {
    color: deeppink;
}

td {
    color: deeppink;
}

dt {
    color: deeppink;
}

dd {
    color: deeppink;
}

h2 {
    color: greenyellow;
}
