body {
    background-color: purple;
    font-family: cursive;
    text-align: right
}

h1 {
    color: lime;
}

p {
    color: deeppink;
}

li {
    color: deeppink;
}

td {
    color: deeppink;
}

dt {
    color: deeppink;
}

dd {
    color: deeppink;
}

h2 {
    color: greenyellow;
}

a {
    color:indigo;
}

img {
    position: relative;
    float: left;
    top: -175px;
}

.center {
    text-align: center;
}

#nav1 {
 color: red;
}
#nav2 {
 color: orange;
}
#nav3 {
 color: yellow;
}
#nav4 {
 color: green;
}
#nav5 {
color: blue;
}

a:hover {
    color: yellowgreen;
}
